.App {
  text-align: center;
  margin: 20px 50px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 200px
}

.card_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
}

.search_wrapper{
  display: flex;
  justify-content: center;
}


.error_wrapper{
  margin: 50px
}